<!DOCTYPE html>
<html>
<head>
    <title>Reservation List</title>
</head>
<body>
    <h1>Daftar Reservasi Anda</h1>
    <ul>
        {% for reservation in reservations %}
            <li>
                Kamar: {{ reservation.room.room_number }} - {{ reservation.room.room_type }}<br>
                Tanggal Check-In: {{ reservation.check_in_date }}<br>
                Tanggal Check-Out: {{ reservation.check_out_date }}<br>
                Status: {{ reservation.status }}
            </li>
        {% empty %}
            <li>Belum ada reservasi.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_reservation' %}">Buat Reservasi Baru</a>
</body>
</html>
